body{
    width: 100vw;
    height: 100vh;
    background-color: aqua!important;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#reloj{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 50vh;
    margin: 30px;
    border-radius: 50%;
    border: 20px solid;
    border-color: rgb(19, 18, 18);
    color: aliceblue;
    background-color: rgb(20, 95, 161);
    order: -1;
}
#exampleModal{
    display: none;
}
.botones{
    display: flex;
    /* align-self: center; */
    justify-self: center;
    margin: 15px;
}

/* #tiempo{
    align-self: center;
    justify-self: center;
} */